body {
  background: #000;
  font-family: Georgia;
  line-height: 1.4;
  padding: 4em 0;

  &.reading {
    p { opacity: 1; }
    .video_container { opacity: .4; }
  }

  &.not_reading {
    p { opacity: .4; }
    .video_container { opacity: .8; }
  }
}

.video_container {
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: .65;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 1s;
  width: 100vw;
  z-index: -1;

  video {
    margin: 50vh 0 0 50vw;
    min-height: 100vh;
    min-width: 100vw;
    transform: translateX(-50%) translateY(-50%);

    &::-webkit-media-controls-start-playback-button { display: none; }
  }
}

p {
  color: #fff;
  font-size: 2.5vw;
  margin: 1em 0 1em 2em;
  transition: all 1s;
  width: 50vw;

  @media screen and (max-width: 500px) {
    font-size: 1.2rem;
    margin: 1em auto;
    width: 75vw;
  }
}
